<div class="blog-header">
    <a href = "/">
      <!-- <img src="/img/burgerFixLarge.png" class="burgerImage"/> -->
    </a>
    <a class="link" href = "/blog">STORIES</a>
    <a class="link" href = "/b-role">B-ROLE</a>
    <a class="link" href = "/articles">SIGHTLINES</a>
    <a class="link" href = "/places">PLACES</a>

</div>
